--exclude **/.build

# unnecessary
--disable andOperator

# put #if to the first column
--ifdef "outdent"

# 4 spaces
--indent 4

# 0..<3 vs 0 ..< 3
--nospaceoperators ...,..<

# always want explicit acl
--disable redundantExtensionACL

# always want explicit self
--self insert

# don't need semicolons
--semicolons "never"

--disable trailingCommas

# first element of collection on newline after opening brace/bracket
--wrapcollections "before-first"

# put first argument on its own line
--wraparguments "before-first"

# if x == 1 vs if 1 == x
--disable yodaConditions

# the ordering doesn't match linter's
--disable specifiers

# conflicts with our Swiftlint explicit ACL rule
--disable extensionAccessControl

# creates non-compiling code on Swift 5.1
--disable preferKeyPath

# swift version 5.1.5 requires backticks in argument lists. 
--disable redundantBackticks
